<template>
  <div>
    <div class="heading">
      <h1>Tic-Tac-Toe</h1>
      <button @click="resetGame()">Reset Game</button>
    </div>
    <div class="tictactoe-board">
      <div v-for="(n, i) in 3" :key="i">
        <div v-for="(n, j) in 3" :key="j">
          <cell @click="performMove(j, i)" :value="board.cells[j][i]" />
        </div>
      </div>

      <div class="game-over-text" v-if="gameOver">
        {{ gameOverText }}
      </div>
    </div>
  </div>
</template>
<script>
import Board from "../components/Board";
import axios from 'axios';
import Utilities from "../components/Utilities";

export default {
  data() {
    return {
      gameOver: false,
      gameOverText: "",
      board: new Board(),
      util: new Utilities()
    };
  },

  methods: {
    /**
     * Resets the game to the original state of empty.
     */
    resetGame() {
      this.gameOver = false;
      this.gameOverText = "";
      this.board = new Board();
      this.util = new Utilities();
    },
    /**
     * Perform the next move.
     */
    async performMove(x, y) {
      if (this.gameOver) {
        return;
      }

      if (!this.board.doMove(x, y, "x")) {
        // Invalid move.
        return;
      }

      this.$forceUpdate();

      if (this.board.isGameOver()) {
        this.gameOver = true;
        this.gameOverText = this.board.playerHas3InARow("x")
          ? "You win!"
          : "Draw";
        return;
      }

      //let aiMove = this.minimax(this.board.clone(), "o");
      let aiMove = await this.neuralnetwork(this.board.clone(), "o");
      this.board.doMove(aiMove.move.x, aiMove.move.y, "o");

      if (this.board.isGameOver()) {
        this.gameOver = true;
        this.gameOverText = this.board.playerHas3InARow("o")
          ? "You lose!"
          : "Draw";
      }

      this.$forceUpdate();
    },
    /**
     * Performs a minimax operation to find the next move.
     * @param board
     * @param player
     * @param depth
     * @returns {{score: number, move: null}}
     */
    minimax(board, player, depth = 1) {
      // If the board has 3 in a row return the score of the board.
      if (board.isGameOver()) {
        return {
          score: board.getScore() + depth,
          move: null
        };
      }

      // The 'o' player wants to maximize its score, the 'x' player wants to
      // minimize its score.
      let bestScore = player === "o" ? -10000 : 10000;
      let bestMove = null;

      let moves = board.getPossibleMoves();
      for (let i = 0; i < moves.length; i++) {
        let move = moves[i];
        let newBoard = board.clone();
        newBoard.doMove(move.x, move.y, player);

        // Recursively call the minimax function for the new board.
        const score = this.minimax(
          newBoard,
          player === "x" ? "o" : "x",
          depth + 1
        ).score;

        // If the score is better than the best saved score update the best saved
        // score to this move.
        if (
          (player === "o" && score > bestScore) ||
          (player === "x" && score < bestScore)
        ) {
          bestScore = score;
          bestMove = move;
        }
      }

      // Return the best found score & move!
      return {
        score: bestScore,
        move: bestMove
      };
    },
    /**
     * An AI move based on a pretrained deep neural network.
     * @param board
     * @param player
     */
    async neuralnetwork(board, player, depth = 1) {
      // If the board has 3 in a row return the score of the board.
      if (board.isGameOver()) {
        return {
          score: board.getScore() + depth,
          move: null
        };
      }
      /**
       * Form the body of the http request.
       */
      let body = {
        "moves": this.util.aiMoveHistory
      }
      /**
       * configurations of the http request.
       * @type {{headers: {"Access-Control-Allow-Origin": string, "Content-Type": string}}}
       */
      let axiosConfig = {
        headers: {
          "Content-Type": "application/json;charset=UTF-8",
          "Access-Control-Allow-Origin": "*",
        }
      };

      return axios
        .post("http://127.0.0.1:5000/nextmove", body, axiosConfig)
        .then(r => {
            let _move =  this.nndatatomove(board, r.data.predictions);
            return {
              score: board.getScore() + depth,
              move: _move
            };
        });
    },
    /**
     * Take the NN predictions and turn it into a board move.
     * @param board
     * @param predictions
     * @returns {{x: number, y: number}}
     */
    nndatatomove(board, predictions) {
      // get all the possible moves.
      let moves = board.getPossibleMoves();
      let _moves = moves.map(a => a.val);
      let filteredPredictions = [];
      for (let i = 0; i < predictions.length; i++) {
        if (_moves.includes(predictions[i].idx)) {
          filteredPredictions.push(predictions[i]);
        }
      }
      // Get the best move after removing the moves that are not available.
      let _nextmove = filteredPredictions[0];
      // Set the ai move stuff.
      this.util.doMove(_nextmove.idx);
      return Utilities.convertLocToGrid(_nextmove.idx);
    }
  }
};
</script>
<style lang="scss">
.tictactoe-board {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;

  width: 204px;
  height: 204px;
}

.game-over-text {
  font-weight: bold;
  color: white;
  width: 204px;
  font-size: 16px;
  text-align: center;
  padding-top: 12px;
}

.heading {
  text-align: center;
  color: white;

  button {
    margin-bottom: 15px;
  }
}
</style>
